.chat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 20px auto 0 auto;
    max-width: 1100px;
}

.chat-window {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.chat-sidenav {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e9ecef;
    min-width: 315px;
}

.chat-main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    padding: 16px;
    align-items: center;
}

.chat-contact-name {
    margin-left: .1rem;
    font-size: 20px;
    font-weight: 500;
}

.chat-textarea {
    height: 40px;
    width: 100%;
    resize: none;
    padding: .375rem .75rem;
    border: 0;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.chat-footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e9ecef;
}

.chat-form {
    width: 100%;
    padding-left: 12px;
    padding-right: 24px;
}

.footer-row {
    display: flex;
    width: 100%;
    padding: 16px;
}

.conversation {
    background-color: #f8f9fa;
    min-height: 650px;
}

.select-user-window {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    height: 850px;
    justify-content: center;
    flex-direction: column;
    width: 750px;
}