.profile {
    display: flex;
    margin: 20px auto auto auto;
    justify-content: center;
    max-width: 1100px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: center;
    max-width: 240px;
}

.profile-pic {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;

}

.profile-name {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-tabs {
    padding: 0 50px 50px 50px;
    background-color: #fafafa;
    flex: 1;
}

.avatar {
    margin-bottom: 10px;
}

.action-button {
    width: 200px;
}

.social-links {
    display: block;
    padding: 20px;
}

.social-link {
    text-decoration: none;
    margin: 4px;
}

.user-name {
    font-weight: 400;
}

.tabs-list {
    border-bottom: 1px solid black;
}

.social-icon {
    width: 25px;
    transition: .3s;
}

.social-icon:hover {
    transform: scale(1.2);
}