.app-bar {
    display: flex;
    justify-content: space-around;
}

.navigation-menu {
    list-style-type: none;

}

.navigation-menu li {
    display: inline;
}

.navigation-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.bar-icons {
    float: right;
    display: inline-flex;
}