.portfolio {
    margin-bottom: 20px;
}

.portfolio-heading {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.portfolio-title {
    font-weight: 400;
}

.more-info {
    margin: 10px 0;
}