@keyframes online {
    0% {box-shadow: 0 0 0 0 rgba(40,167,69,.4);}
    70% {box-shadow: 0 0 0 10px rgba(40,167,69,0);}
    100% {box-shadow: 0 0 0 0 rgba(40,167,69,0);}
}

.chat-user {
    display: flex;
    background-color: #fafafa;
    padding: 16px;
    border-bottom: 1px solid #e9ecef;
    align-items: center;
    cursor: pointer;
}

.chat-user:hover {
    background-color: #e4e7f6;
}

.active {
    background-color: #e4e7f6;
}

.chat-status {
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: online 2s infinite;
    box-shadow: 0 0 0 rgba(40,167,69,.4);
}

.chat-status.small {
    width: 8px;
    height: 8px;
}

.chat-user-avatar {
    padding: 0 5px;
    flex: 0 0 16.666%;
}

.chat-window-user-avatar {
    padding: 0 5px;
}

.chat-user-avatar-mode {
    position: relative;
}

.chat-user-info {
    flex: 0 0 66.666%;
}

.online {
    background-color: #4caf50;

}

.offline {
    background-color: #ffffff;
    border: solid 1px #4caf50;
}

.messages-badge {
    background-color: #3f51b5;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 75%;

}

.messages-badge:empty {
    display: none;
}

.messages-badge-block {
    flex: 0 0 16.666%;
    text-align: right;
    padding: 0 5px;
    max-width: 22px;
}

.last-message-time {
    font-size: 11px;
    color: #adb5bd;
}

.last-message-info {
    font-size: 13px;
    color: #6c757d;
}

.user-info-name {
    font-size: 15px;

}