.signup-container {
  background-color: #e8e9f2;
  max-width: 440px;
}

.signup-form {
  padding: 20px;
}

.signup-form > * {
  margin: 20px;
}

.signup-input,
.signup-btn {
  text-align: center;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 12px;
}

.signup-btn {
  background-color: #0a3399;
  color: #ffffff;
  font-size: 1.2em;
  border: 0;
}

.invisible {
  display: none;
}

.error input{
  border: 2px solid #d30000;
}

.error p {
  display: block;
  color: #d30000;
  margin-top: 4px;
  font-size: 0.85em;
}

.privacy span {
  vertical-align: middle;
}

