.bubble {
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 20px 20px 20px 0;
    position: relative;
    margin-left: 16px;
    max-width: 600px;
}

.message-cell {
    display: flex;
    padding: 16px;
}

.message {
    font-size: 14px;
    word-wrap: break-word;
}

.row-reverse {
    flex-direction: row-reverse;
}

.sent-message {
    margin-left: 0;
    margin-right: 16px;
    background-color: #e4e7f6;
    border-radius: 20px 20px 0 20px;
}

.message-time {
    margin-top: .5rem;
    color: #6c757d;
    font-size: 14px;
}

.align-self-end {
    align-self: flex-end;
}
